<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fredericletellier.foodinspector">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".events.EventsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".product.ProductActivity"
            android:parentActivityName=".events.EventsActivity"
            android:theme="@style/AppTheme">
        </activity>

        <activity android:name=".scan.BarcodeCaptureActivity"
            android:parentActivityName=".events.EventsActivity"
            android:theme="@style/AppTheme"/>

        <provider
            android:authorities="com.fredericletellier.foodinspector"
            android:name=".data.source.local.FoodInspectorContentProvider"
            android:exported="false" />



        <receiver
            android:name=".widget.EventsWidgetProvider"
            android:label="@string/title_widget_events" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.fredericletellier.foodinspector.ACTION_DATA_UPDATED" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_events" />
        </receiver>


        <service android:name=".widget.EventsWidgetIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>

</manifest>